* {
	box-sizing: border-box;
}

body {
	max-width: 600px;
	margin: 0 auto;
	font-family: sans-serif;
}

h1 {
	font-size: 1.75rem;
}

canvas {
	display: block;
	margin: 1rem auto;
	background: lightgray;
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

label {
	padding: .5rem;
}

input {
	margin: .5rem 0 .5rem .5rem;
}

#values-submit {
	grid-column-start: 4;
	grid-column-end: 5;
	margin-right: 0;
	border: 1px solid #000;
	border-radius: 3px;
	padding: .3rem;
}

#values-submit:active {
	background-color: darkgray;
}

/* Media Queries */

@media (max-width: 767px) {

	canvas {
		margin-top: 0;
	}

}